{%extends 'base.html'%}

{%block title_block%}

<title>Add Transaction</title>
{%endblock%}

{%block main_block%}

<div class="container">
    <div class="row mt-5">
       <div class="col-3"></div>
       <div class="col-6 p-4 shadow"> 
        <form action="" method="post">
        <h3 class="text-center fw-bolder">ADD TRANSACTIONS HERE!!!</h3>
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">ADD</button>
        </form></div>
       <div class="col-3"></div>
    </div>
    </div>

{%endblock%}